<style type="text/css">
	body {
		background-color: #ffffff;
		font-family: "Segoe UI";
		font-weight: 380;
	}

	:root {
		--main-background-color: #706d6d;
		--dark-background-color: #ffffff;
		--secondary-text-color: #323232;
		--light-primary-text-color: #373737;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #444444;
	}

	.btn {
		border-radius: 0px;
		background-color: purple;
		color: white;
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;

	}

	.btn:hover {
		background-color: #aa1faa;
		color: white;
	}

	.btn:focus {
		box-shadow: none;
	}

	.card {
		width: 391px;
		padding: 45px;
		margin: auto;
	}